In [1]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
#from keras_preprocessing import image
#import keras_preprocessing.image
from tensorflow.keras.utils import load_img, img_to_array
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from keras.layers import BatchNormalization
#import cv2 as cv

In [2]:
import os
PATH = "B:\\somestuff\\simrise\\blalba\\new_tool\\images\\"
PATHPOOL = "B:\\somestuff\\simrise\\blalba\\new_tool\\images\\pool_hsv\\"
FILESPOOL = next(os.walk(PATHPOOL),(None,None,[]))[2]
os.chdir(PATH)
SIZE = 200

In [3]:
dataframe = pd.read_csv(f"{PATH}\\out_hsv.csv")
#dataframe = dataframe.applymap(str)
dataframe.head(5)

                    Id  Bypass Diode  Junction Box  MHotspot  SHotspot
0  hsvrgb_IMGT0037.PNG             0             0         0         1
1  hsvrgb_IMGT0039.PNG             0             0         1         0
2  hsvrgb_IMGT0068.PNG             0             1         0         0
3  hsvrgb_IMGT0070.PNG             0             1         0         0
4  hsvrgb_IMGT0072.PNG             0             1         0         0

In [4]:
dataframe.shape

(502, 5)

In [5]:
dataframe.head()

                    Id  Bypass Diode  Junction Box  MHotspot  SHotspot
0  hsvrgb_IMGT0037.PNG             0             0         0         1
1  hsvrgb_IMGT0039.PNG             0             0         1         0
2  hsvrgb_IMGT0068.PNG             0             1         0         0
3  hsvrgb_IMGT0070.PNG             0             1         0         0
4  hsvrgb_IMGT0072.PNG             0             1         0         0

In [6]:
#X_npImageAll = np.array([cv.imread(f"{PATHPOOL}\\{img}") for img in FILESPOOL]);
#X_npImageAll = dataframe['Id']
#X_npImageAll
i = 0
X_npImageAll = list()
for f in dataframe.iloc[:,0]:
    img = load_img(f"{PATHPOOL}\\{f}\\",target_size=(SIZE,SIZE,3))
    img = img_to_array(img)
    #img = img / 255.0 # normalize
    X_npImageAll.append(img)

X_npImageAll = np.array(X_npImageAll)
#X_npImageAll

In [7]:
X_npImageAll.shape

(502, 200, 200, 3)

In [8]:
y_trainDataframe = dataframe.drop(['Id'], axis=1)

In [9]:
y_trainDataframe.head()

   Bypass Diode  Junction Box  MHotspot  SHotspot
0             0             0         0         1
1             0             0         1         0
2             0             1         0         0
3             0             1         0         0
4             0             1         0         0

In [10]:
y_trainDataframe.shape

(502, 4)

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X_npImageAll, y_trainDataframe, random_state=20,test_size=0.3)

In [12]:
model = Sequential()

In [13]:

model.add(Conv2D(filters=16, kernel_size=(5, 5), activation="relu", input_shape=(SIZE,SIZE,3)))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))

model.add(Conv2D(filters=32, kernel_size=(5, 5), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Conv2D(filters=64, kernel_size=(5, 5), activation="relu"))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Conv2D(filters=64, kernel_size=(5, 5), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Flatten())
model.add(Dense(2**8, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(2**6, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(2**2, activation='sigmoid'))

In [14]:
#model.summary()

In [15]:

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [16]:

history = model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test), batch_size=64)

Epoch 1/10
6/6 [==============================] - 15s 2s/step - loss: 0.6570 - accuracy: 0.4131 - val_loss: 3.3500 - val_accuracy: 0.2914
Epoch 2/10
6/6 [==============================] - 9s 2s/step - loss: 0.5510 - accuracy: 0.5584 - val_loss: 5.3783 - val_accuracy: 0.2980
Epoch 3/10
6/6 [==============================] - 10s 2s/step - loss: 0.4800 - accuracy: 0.5926 - val_loss: 5.6936 - val_accuracy: 0.2914
Epoch 4/10
6/6 [==============================] - 9s 1s/step - loss: 0.4211 - accuracy: 0.6439 - val_loss: 5.9532 - val_accuracy: 0.2914
Epoch 5/10
6/6 [==============================] - 8s 1s/step - loss: 0.4435 - accuracy: 0.6182 - val_loss: 4.4672 - val_accuracy: 0.2980
Epoch 6/10
6/6 [==============================] - 10s 2s/step - loss: 0.4202 - accuracy: 0.6581 - val_loss: 4.3547 - val_accuracy: 0.2914
Epoch 7/10
6/6 [==============================] - 9s 1s/step - loss: 0.3761 - accuracy: 0.7009 - val_loss: 5.1831 - val_accuracy: 0.2914
Epoch 8/10
6/6 [==============================] - 9s 2s/step - loss: 0.3408 - accuracy: 0.6952 - val_loss: 4.6213 - val_accuracy: 0.2980
Epoch 9/10
6/6 [==============================] - 9s 2s/step - loss: 0.3348 - accuracy: 0.6809 - val_loss: 2.6145 - val_accuracy: 0.2848
Epoch 10/10
6/6 [==============================] - 9s 1s/step - loss: 0.3100 - accuracy: 0.7635 - val_loss: 2.7217 - val_accuracy: 0.2517

In [17]:
"""
#plot the training and validation accuracy and loss at each epoch
loss = history.history['loss']
val_loss = history.history['val_loss']
epochs = range(1, len(loss) + 1)
plt.plot(epochs, loss, 'y', label='Training loss')
plt.plot(epochs, val_loss, 'r', label='Validation loss')
plt.title('Training and validation loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend()
plt.show()


acc = history.history['acc']
val_acc = history.history['val_acc']
plt.plot(epochs, acc, 'y', label='Training acc')
plt.plot(epochs, val_acc, 'r', label='Validation acc')
plt.title('Training and validation accuracy')
plt.xlabel('Epochs')
plt.ylabel('Accuracy')
plt.legend()
plt.show()
"""
print("")